{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
        {% if user.is_authenticated %}
            <p class="display-5 lead text-center">Your reservations:</p>
            <table class="table table-hover mb-3">
                <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Piercer</th>
                      <th scope="col">Piercing</th>
                      <th scope="col">City</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                      <th scope="row">{{ object.date }}</th>
                      <td>{{ object.piercer }}</td>
                      <td>{{ object.piercing }}</td>
                      <td>{{ object.city }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>

            <a href="{% url "create" %}"><button type="button" class="btn btn-success btn-sm">Add</button></a>
        {% else %}
            <p class="display-4 lead text-muted text-center">You're not logged in.</p>
            <p class="lead text-center"><a href="{% url "signup" %}">Sign up</a> or <a href="{% url "login" %}">login</a>.</p>
        {% endif %}

    </div>
{% endblock %}